:root {
  /* Global tokens */
  --base-h: 48;
  --base-s: 100%;
  --base-l: 97%;

  --accent-h: 175;
  --accent-s: 57%;
  --accent-l: 33%;
  --accent-hsl: var(--accent-h), var(--accent-s), var(--accent-l);

  --base-paper: 255 252 240;
  --base-50: 242 240 229;
  --base-100: 230 228 217;
  --base-150: 218 216 206;
  --base-200: 206 205 195;
  --base-300: 183 181 172;
  --base-500: 135 133 128;
  --base-600: 111 110 105;
  --base-700: 87 86 83;
  --base-800: 64 62 60;
  --base-850: 52 51 49;
  --base-900: 40 39 38;
  --base-950: 28 27 26;
  --base-black: 16 15 15;

  --red-400: 209 77 65;
  --red-600: 175 48 41;

  --orange-400: 218 112 44;
  --orange-600: 188 82 21;

  --yellow-400: 208 162 21;
  --yellow-600: 173 131 1;

  --green-400: 135 154 57;
  --green-600: 102 128 11;

  --cyan-400: 58 169 159;
  --cyan-600: 36 131 123;

  --blue-400: 67 133 190;
  --blue-600: 32 94 166;

  --purple-400: 139 126 200;
  --purple-600: 94 64 157;

  --magenta-400: 206 93 151;
  --magenta-600: 160 47 111;

  --bg1: rgb(var(--base-paper));
  --bg2: rgb(var(--base-50));
  --bg3: hsla(0, 3%, 6%, 0.05);
  --ui1: rgb(var(--base-100));
  --ui2: rgb(var(--base-150));
  --ui3: rgb(var(--base-200));
  --tx1: rgb(var(--base-black));
  --tx2: rgb(var(--base-600));
  --tx3: rgb(var(--base-300));
  --tx4: hsl(var(--base-h), calc(var(--base-s) - 10%), calc(var(--base-l) - 60%));
  --hl1: hsla(155, 32%, 80%, 0.3);
  --hl2: hsla(48, 92%, 60%, 0.3);
  --ax1: hsl(var(--accent-h), var(--accent-s), var(--accent-l));
  --ax2: hsl(var(--accent-h), var(--accent-s), calc(var(--accent-l) - 8%));
  --ax3: hsl(var(--accent-h), var(--accent-s), calc(var(--accent-l) + 6%));
  --sp1: rgb(var(--base-paper));
  --cover: hsla(var(--base-h), calc(var(--base-s) - 70%), calc(var(--base-l) - 20%), 0.5)
}

@theme {
  --color-*: initial;

  --font-*: initial;
  --font-sans: "Inter UI", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --text-*: initial;
  --text-ui-sm: 12px;
  --text-ui-base: 13px;
  --text-ui-lg: 15px;

  --text-color-normal: var(--tx1);
  --text-color-muted: var(--tx2);
  --text-color-faint: var(--tx3);
  --text-color-on-accent: var(--sp1);
  --text-color-on-accent-inverted: rgb(var(--base-black));
  --text-color-error: rgb(var(--red-600));
  --text-color-warning: rgb(var(--orange-600));
  --text-color-success: rgb(var(--green-600));
  --text-color-accent: var(--ax1);
  --text-color-accent-hover: var(--ax2);
  --text-color-link: var(--ax1);
  --text-color-link-hover: var(--ax2);

  --background-color-primary: var(--bg1);
  --background-color-primary-alt: var(--bg2);
  --background-color-secondary: var(--bg2);
  --background-color-secondary-alt: var(--bg1);
  --background-color-modifier-hover: var(--bg3);
  --background-color-modifier-active-hover: var(--bg3);
  --background-color-modifier-border: var(--ui1);
  --background-color-modifier-border-hover: var(--ui2);
  --background-color-modifier-border-focus: var(--ui3);
  --background-color-modifier-cover: var(--cover);
  --background-color-modifier-success: var(--color-green);
  --background-color-modifier-error: hsla(0, 100%, 50%, 0.14);
  --background-color-modifier-error-hover: hsla(0, 100%, 50%, 0.08);
  --background-color-interactive-normal: var(--bg1);
  --background-color-interactive-hover: var(--ui1);
  --background-color-interactive-accent: var(--ax3);
  --background-color-interactive-accent-hover: var(--ax1);

  --ring-color-modifier-border: var(--ui1);
  --ring-color-modifier-border-hover: var(--ui2);
  --ring-color-modifier-border-focus: var(--ui3);
  --ring-color-interactive-normal: var(--ui1);
  --ring-color-interactive-hover: var(--ui2);
  --ring-color-interactive-focus: var(--ui3);

  --border-color-normal: var(--ui1);
  --border-color-hover: var(--ui2);
  --border-color-focus: var(--ui3);
  --border-color-modifier-error: hsla(0, 100%, 50%, 0.14);
  --border-color-modifier-error-hover: hsla(0, 100%, 50%, 0.08);

  --font-weight-*: initial;
  --font-weight-thin: 100;
  --font-weight-extralight: 200;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;
  --font-weight-black: 900;

  --radius-*: initial;
  --radius-none: 0px;
  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 12px;
  --radius-xl: 16px;
  --radius-full: 9999px;

  --z-index-*: initial;
  --z-index-cover: 5;
  --z-index-sidedock: 10;
  --z-index-status-bar: 15;
  --z-index-popover: 30;
  --z-index-slides: 45;
  --z-index-modal: 50;
  --z-index-notice: 60;
  --z-index-menu: 65;
  --z-index-tooltip: 70;
  --z-index-dragged-item: 80;

  --height-interactive-sm: 24px;
  --height-interactive-md: 28px;
  --height-interactive-lg: 32px;

  --shadow-interactive: inset 0 0 0 1px rgba(0, 0, 0, 0.12), 0 2px 3px 0 rgba(0,0,0,.05), 0 1px 1.5px 0 rgba(0,0,0,.03), 0 1px 2px 0 rgba(0,0,0,.04), 0 0 0 0 transparent;
  --shadow-interactive-hover: inset 0 0 0 1px rgba(0, 0, 0, 0.17), 0 2px 3px 0 rgba(0,0,0,.1), 0 1px 1.5px 0 rgba(0,0,0,.03), 0 1px 2px 0 rgba(0,0,0,.04), 0 0 0 0 transparent;
}
