@import "tailwindcss";
@import "./index.css";

@plugin "@tailwindcss/forms";
@plugin "tailwindcss-animate";
@plugin "../tailwind-lucide.js";

body.layout-scrollbar-obtrusive, body.layout-scrollbar-obtrusive * {
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-color) transparent;
}

body.layout-scrollbar-obtrusive {
  --scrollbar-min-size: 32px;
  --scrollbar-color: lch(64.473% 1 282.863 / 1);
}
